<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Bookmarks Search</title>

  </head>
  <body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Pacifico';">
        <p>
          <center>
          <font size="8">Quora Search</font>
          </center>
        </p>
      </div>
    </div>

  <center>
      <h1>Results: ({{ res['total'] }}) </h1>
  </center>

  <table class="table">
    <thead>
      <tr>
          
        <th>Document</th>
      </tr>
    </thead>

{% for d in res['docs'] %}
    <tbody>
      <tr>
        <td>{{ d }}</td>
      </tr>
    </tbody>
{% endfor %}
  </table>

        <footer class="footer">
          <p>&copy; 2020 Viktor Karlsson</p>
        </footer>

      </div>
    </div>
  </body>
</html>