<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Bookmarks Search</title>

</head>
<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Pacifico';">
        <p>
          <center>
          <font size="8">Quora Search</font>
          </center>
        </p>
      </div>
    </div>
    
    <form action="/search/results" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Sentence search" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <form action="/doc/search/results" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Document search" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <br><br>
      <footer class="footer">
        <p>&copy; 2020 Viktor Karlsson </p>
      </footer>

      </div>
    </div>
  </body>
</html>