{% extends "base.html" %}
{% block page_content %}

<div class="row align-items-center">
    <div class="col-lg-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Select a file for clustering</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    </div>
</div>




{% endblock %}